@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');


html {
  overflow: auto;
}

html,
body {
  scroll-behavior: smooth;
  position: relative;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;  
  font-family: "Inter", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


[data-rsbs-header]:before {
  display: none !important;
}

[data-rsbs-root] {
  display: none;

}

[data-rsbs-header] {
  box-shadow: none !important;
  padding: 0 !important;
}

textarea {
  font-family: "Inter", sans-serif !important;
}


html,
body,
#next {
  height: 100%;
}

#next {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* transition: 0.3s; */
}



div {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


a {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: transparent;
  border-radius: 0px;
  background-color: transparent;
  height: 0px;
}

*::-webkit-scrollbar {
  border-radius: 10px;
  width: 0px;
  background-color: transparent;
  height: 0px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  width: 0px;
  -webkit-box-shadow: transparent;
  background-color: transparent;
  height: 0px;
}


button {
  padding: 0px 8px;
}

.scout-success-button {
  background-color: #1877F2;
  color: white;
  border-radius: 48px;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  padding: 12px;
  height: 48px;
  margin: 16px 0px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  max-width: 95%;
  cursor: pointer;
}

.scout-error {
  color: rgb(255, 53, 53);
  font-size: 12px;
  text-align: center;
}

.scout-success {
  color: rgb(213, 231, 216);
  font-size: 12px;
  text-align: center;
}

.gm-fullscreen-control {
  right: 0px;
  top: inherit !important;
  bottom: 30px;
  left: 0;
}

/* .gmnoprint > div{
  top: 60px;
} */

.scout-special-link {
  font-size: 16px;
  line-height: 24px;
  color: #2751E9 !important;
  cursor: pointer;
}

.scout-success-black {
  color: #111111;
  font-size: 12px;
  text-align: center;
}

.scout-success-green {
  color: #22aa5b;
  font-size: 12px;
  text-align: center;
}

.scout-map-search-bar {
  position: fixed;
  top: 12px;
  width: 100%;
  height: 48px;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.scout-map-search-bar-container {
  height: 100%;
  width: 94%;
  margin: auto;
  background: #FFFFFF;
  box-shadow: 0px 4px 18px -6px rgba(17, 17, 17, 0.1), 0px 8px 42px -4px rgba(24, 39, 75, 0.12);
  border-radius: 8px;
  padding: 12px;
}

.scout-map-controls {
  box-shadow: 0px 4px 18px -6px rgba(17, 17, 17, 0.1), 0px 12px 42px -4px rgba(24, 39, 75, 0.12);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 12px;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  z-index: 7;
}


#scoutGPS {
  bottom: 90px;
}


#scoutLocation {
  bottom: 30px;
}

#scoutMapType {
  bottom: 150px;
}

.scout-desktop-nav {
  max-width: 1440px;
  margin: auto;
  padding: 0px 40px !important;
  height: 100%;
  z-index: 100;
  background: #FFFFFF;
}

.scout-desktop-nav-wrapper {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  background: #FFFFFF;
  height: 80px;
  box-shadow: 0px 4px 18px -6px rgba(17, 17, 17, 0.1), 0px 12px 42px -4px rgba(24, 39, 75, 0.12);
}

.scout-desktop-nav-input {
  background: #FFFFFF;
  opacity: 0.4;
  border: 1px solid #D5D5D5;
  box-sizing: border-box;
  border-radius: 8px;
  height: 48px;
  width: 424px;
  text-align: center;
  padding: 16px;
  font-size: 16px;
  max-width: 98%;
  line-height: 24px;
}

.scout-desktop-nav-input-mobile {
  background: #FFFFFF;
  opacity: 0.4;
  box-sizing: border-box;
  outline: none;
  border: none;
  border-radius: 8px;
  height: 100%;
  width: 100%;
  text-align: left;
  font-size: 16px;
  max-width: 98%;

  line-height: 24px;
}


.scout-desktop-nav-input-mobile:focus {
  opacity: 1;

}

.scout-desktop-nav-input:focus {
  opacity: 1;
  background: #FFFFFF;
  border: 1px solid #D5D5D5;
  box-sizing: border-box;
  box-shadow: 0px 4px 18px -6px rgba(17, 17, 17, 0.1), 0px 12px 42px -4px rgba(24, 39, 75, 0.12);
  border-radius: 8px;
  outline: none;
}

.scout-desktop-nav-input::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  opacity: 0.4;
}

.scout-desktop-nav-input-mobile::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #000000;
  opacity: 0.4;
}

.scout-email-verification {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  text-align: left;
  margin: 0 auto;
  color: #000000;
  opacity: 0.8;
}

.scout-email-verification-error {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  text-align: left;
  margin: 0 auto;
  color: #e23a3a;
  opacity: 0.8;
  margin-bottom: 40px;
}

.scout-container {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
  top: 0;

}

.scout-verification-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10000;
  top: 0;
  background: #FFFFFF;


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scout-mt-1 {
  margin-top: 80px !important;
}

.scout-container-fluid {
  max-width: 1440px;
  margin: auto;
  height: 100%;
  padding: 60px 40px;
}

.scout-logo {
  max-width: 210px;
  margin: 0 auto
}

.scout-v-100 {
  height: 100vh;
}

.scout-h-100 {
  height: 100%;
}

.scout-auto-height {
  height: auto !important;
}

.scout-cover-image {
  object-fit: cover;
}

.scout-w-100 {
  width: 100%;
}

.scout-v-center {
  display: flex;
  align-items: center;
  height: 100%;
}


.scout-h-center {
  display: flex;
  justify-content: center;
  height: 100%;
}

.scout-auto-height {
  height: auto !important;
}


.scout-link {
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;
  color: #9FA2AD;
}

.scout-no-overflow {
  overflow: hidden;
}

.scout-row {
  display: flex;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.scout-col-1 {
  flex: 0 0 8.33%;
  -ms-flex: 0 0 8.33%;
  max-width: 0 0 8.33%;
  padding: 8px;
  height: 100%;
}

.scout-col-2 {
  flex: 0 0 16.66%;
  -ms-flex: 0 0 16.66%;
  max-width: 0 0 16.66%;
  padding: 8px;
  height: 100%;

}

.scout-col-3 {
  flex: 24.99%;
  -ms-flex: 24.99%;
  max-width: 24.99%;
  padding: 8px;
  height: 100%;



}

.scout-col-4 {
  flex: 33.32%;
  -ms-flex: 33.32%;
  max-width: 33.32%;
  padding: 8px;
  height: 100%;

}

.scout-col-5 {
  flex: 41.64%;
  -ms-flex: 41.64%;
  max-width: 41.65%;
  padding: 8px;
  height: 100%;

}

.scout-col-6 {
  flex: 49.98%;
  max-width: 49.98%;
  -ms-flex: 49.98;
  padding: 8px;
  height: 100%;

}

.scout-col-7 {
  flex: 58.31%;
  max-width: 58.31%;
  -ms-flex: 58.31%;
  padding: 8px;
  height: 100%;
}

.scout-col-8 {
  flex: 66.64%;
  max-width: 66.64%;
  -ms-flex: 66.64%;
  padding: 8px;
  height: 100%;
}

.scout-col-9 {
  flex: 74.97%;
  max-width: 74.97%;
  -ms-flex: 74.97%;
  padding: 8px;
  height: 100%;
}

.scout-col-10 {
  flex: 83.3%;
  max-width: 83.3%;
  -ms-flex: 83.3%;
  padding: 8px;
  height: 100%;

}

.scout-col-11 {
  flex: 91.63%;
  max-width: 91.63%;
  -ms-flex: 91.63%;
  padding: 8px;
  height: 100%;

}

.scout-col-12 {
  flex: 99.96%;
  max-width: 99.96%;
  -ms-flex: 99.96%;
  padding: 8px;
  height: 100%;
}


@media (max-width: 992px) {

  .scout-col-lg-1 {
    flex: 0 0 8.33%;
    -ms-flex: 0 0 8.33%;
    max-width: 0 0 8.33%;
    padding: 8px;
    height: 100%;
  }

  .scout-col-lg-2 {
    flex: 0 0 16.66%;
    -ms-flex: 0 0 16.66%;
    max-width: 0 0 16.66%;
    padding: 8px;
    height: 100%;
  }

  .scout-col-lg-3 {
    flex: 24.99%;
    -ms-flex: 24.99%;
    max-width: 24.99%;
    padding: 8px;
    height: 100%;


  }

  .scout-col-lg-4 {
    flex: 33.32%;
    -ms-flex: 33.32%;
    max-width: 33.32%;
    padding: 8px;
    height: 100%;

  }

  .scout-col-lg-5 {
    flex: 41.64%;
    -ms-flex: 41.64%;
    max-width: 41.65%;
    padding: 8px;
    height: 100%;

  }

  .scout-col-lg-6 {
    flex: 49.98%;
    max-width: 49.98%;
    -ms-flex: 49.98;
    padding: 8px;
    height: 100%;

  }

  .scout-col-lg-7 {
    flex: 58.31%;
    max-width: 58.31%;
    -ms-flex: 58.31%;
    padding: 8px;
    height: 100%;
  }

  .scout-col-lg-8 {
    flex: 66.64%;
    max-width: 66.64%;
    -ms-flex: 66.64%;
    padding: 8px;
    height: 100%;
  }

  .scout-col-lg-9 {
    flex: 74.97%;
    max-width: 74.97%;
    -ms-flex: 74.97%;
    padding: 8px;
    height: 100%;
  }

  .scout-col-lg-10 {
    flex: 83.3%;
    max-width: 83.3%;
    -ms-flex: 83.3%;
    padding: 8px;
    height: 100%;
  }

  .scout-col-lg-11 {
    flex: 91.63%;
    max-width: 91.63%;
    -ms-flex: 91.63%;
    padding: 8px;
    height: 100%;

  }

  .scout-col-lg-12 {
    flex: 99.96%;
    max-width: 99.96%;
    -ms-flex: 99.96%;
    padding: 8px;
    height: 100%;
  }
}

@media (max-width: 768px) {

  .scout-container-fluid {
    padding: 16px;
  }

  .scout-desktop-nav {
    padding: 16px !important;
  }


  .scout-col-md-1 {
    flex: 0 0 8.33%;
    -ms-flex: 0 0 8.33%;
    max-width: 0 0 8.33%;
    padding: 6px;
    height: 100%;
  }

  .scout-col-md-2 {
    flex: 0 0 16.66%;
    -ms-flex: 0 0 16.66%;
    max-width: 0 0 16.66%;
    padding: 6px;
    height: 100%;
  }

  .scout-col-md-3 {
    flex: 24.99%;
    -ms-flex: 24.99%;
    max-width: 24.99%;
    padding: 6px;
    height: 100%;


  }

  .scout-col-md-4 {
    flex: 33.32%;
    -ms-flex: 33.32%;
    max-width: 33.32%;
    padding: 6px;
    height: 100%;

  }

  .scout-col-md-5 {
    flex: 41.64%;
    -ms-flex: 41.64%;
    max-width: 41.65%;
    padding: 6px;
    height: 100%;

  }

  .scout-col-md-6 {
    flex: 49.98%;
    max-width: 49.98%;
    -ms-flex: 49.98;
    padding: 6px;
    height: 100%;

  }

  .scout-col-md-7 {
    flex: 58.31%;
    max-width: 58.31%;
    -ms-flex: 58.31%;
    padding: 6px;
    height: 100%;
  }

  .scout-col-md-8 {
    flex: 66.64%;
    max-width: 66.64%;
    -ms-flex: 66.64%;
    padding: 6px;
    height: 100%;
  }

  .scout-col-md-9 {
    flex: 74.97%;
    max-width: 74.97%;
    -ms-flex: 74.97%;
    padding: 6px;
    height: 100%;
  }

  .scout-col-md-10 {
    flex: 83.3%;
    max-width: 83.3%;
    -ms-flex: 83.3%;
    padding: 6px;
    height: 100%;
  }

  .scout-col-md-11 {
    flex: 91.63%;
    max-width: 91.63%;
    -ms-flex: 91.63%;
    padding: 6px;
    height: 100%;

  }

  .scout-col-md-12 {
    flex: 99.96%;
    max-width: 99.96%;
    -ms-flex: 99.96%;
    padding: 6px;
    height: 100%;
  }
}

@media (max-width: 576px) {
  [data-rsbs-root] {
    display: block !important;
    
  }
  .scout-desktop-nav-wrapper {
    display: none;
  }

  .scout-map-search-bar {
    display: flex;
  }

  .scout-container-fluid {
    padding: 16px;
  }

  .mt-2 {
    margin-top: 80px !important;
  }

  .scout-col-sm-1 {
    flex: 0 0 8.33%;
    -ms-flex: 0 0 8.33%;
    max-width: 0 0 8.33%;
    padding: 4px;
    height: 100%;
  }

  .scout-col-sm-2 {
    flex: 0 0 16.66%;
    -ms-flex: 0 0 16.66%;
    max-width: 0 0 16.66%;
    padding: 4px;
    height: 100%;
  }

  .scout-col-sm-3 {
    flex: 24.99%;
    -ms-flex: 24.99%;
    max-width: 24.99%;
    padding: 4px;
    height: 100%;
  }

  .scout-col-sm-4 {
    flex: 33.32%;
    -ms-flex: 33.32%;
    max-width: 33.32%;
    padding: 4px;
    height: 100%;

  }

  .scout-col-sm-5 {
    flex: 41.64%;
    -ms-flex: 41.64%;
    max-width: 41.65%;
    padding: 4px;
    height: 100%;

  }

  .scout-col-sm-6 {
    flex: 49.98%;
    max-width: 49.98%;
    -ms-flex: 49.98;
    padding: 4px;
    height: 100%;

  }

  .scout-col-sm-7 {
    flex: 58.31%;
    max-width: 58.31%;
    -ms-flex: 58.31%;
    padding: 4px;
    height: 100%;
  }

  .scout-col-sm-8 {
    flex: 66.64%;
    max-width: 66.64%;
    -ms-flex: 66.64%;
    padding: 4px;
    height: 100%;
  }

  .scout-col-sm-9 {
    flex: 74.97%;
    max-width: 74.97%;
    -ms-flex: 74.97%;
    padding: 4px;
    height: 100%;
  }

  .scout-col-sm-10 {
    flex: 83.3%;
    max-width: 83.3%;
    -ms-flex: 83.3%;
    padding: 4px;
    height: 100%;

  }

  .scout-col-sm-11 {
    flex: 91.63%;
    max-width: 91.63%;
    -ms-flex: 91.63%;
    padding: 4px;
    height: 100%;

  }

  .scout-col-sm-12 {
    flex: 99.96%;
    max-width: 99.96%;
    -ms-flex: 99.96%;
    padding: 4px;
    height: 100%;
  }
}


@media (max-width: 310px) {
  .scout-desktop-nav-wrapper {
    display: none;
  }

  .scout-map-search-bar {
    display: flex;
  }

  .scout-container-fluid {
    padding: 16px;
  }

  .mt-2 {
    margin-top: 80px !important;
  }

  .scout-col-xs-1 {
    flex: 0 0 8.33%;
    -ms-flex: 0 0 8.33%;
    max-width: 0 0 8.33%;
    padding: 4px;
    height: 100%;
  }

  .scout-col-xs-2 {
    flex: 0 0 16.66%;
    -ms-flex: 0 0 16.66%;
    max-width: 0 0 16.66%;
    padding: 4px;
    height: 100%;
  }

  .scout-col-xs-3 {
    flex: 24.99%;
    -ms-flex: 24.99%;
    max-width: 24.99%;
    padding: 4px;
    height: 100%;
  }

  .scout-col-xs-4 {
    flex: 33.32%;
    -ms-flex: 33.32%;
    max-width: 33.32%;
    padding: 4px;
    height: 100%;

  }

  .scout-col-xs-5 {
    flex: 41.64%;
    -ms-flex: 41.64%;
    max-width: 41.65%;
    padding: 4px;
    height: 100%;

  }

  .scout-col-xs-6 {
    flex: 49.98%;
    max-width: 49.98%;
    -ms-flex: 49.98;
    padding: 4px;
    height: 100%;

  }

  .scout-col-xs-7 {
    flex: 58.31%;
    max-width: 58.31%;
    -ms-flex: 58.31%;
    padding: 4px;
    height: 100%;
  }

  .scout-col-xs-8 {
    flex: 66.64%;
    max-width: 66.64%;
    -ms-flex: 66.64%;
    padding: 4px;
    height: 100%;
  }

  .scout-col-xs-9 {
    flex: 74.97%;
    max-width: 74.97%;
    -ms-flex: 74.97%;
    padding: 4px;
    height: 100%;
  }

  .scout-col-xs-10 {
    flex: 83.3%;
    max-width: 83.3%;
    -ms-flex: 83.3%;
    padding: 4px;
    height: 100%;

  }

  .scout-col-xs-11 {
    flex: 91.63%;
    max-width: 91.63%;
    -ms-flex: 91.63%;
    padding: 4px;
    height: 100%;

  }

  .scout-col-xs-12 {
    flex: 99.96%;
    max-width: 99.96%;
    -ms-flex: 99.96%;
    padding: 4px;
    height: 100%;
  }
}


.mt-1 {
  margin-top: 64px
}

.mt-2 {
  margin-top: 128px
}

.mt-16 {
  margin-top: 16px;
}

.scout-no-gutter {
  padding: 0px;
}

.scout-h-gutter {
  padding: 0 8px;
}

.scout-v-gutter {
  padding: 8px 0px;
}

.scout-left {
  justify-content: flex-start;
}

.scout-right {
  justify-content: flex-end;
  display: flex;
}